.layout {
  height: 100vh;
  &__navlist {
    display: flex;
    padding-top: 0px;
  }
  &__toolbar {
    height: 80px;
  }
  &__logo {
    margin-left: 24px;
    cursor: pointer;
    font-size: 2.4rem;
    text-decoration: none;
    font-family: "Great Vibes", cursive;
    font-style: "normal";
  }

  &__spacer {
    flex: 1 1 auto;
  }

}


mat-sidenav {
  width: 300px;
}
