<div class="container">
  <mat-grid-list [cols]="(isHandset$ | async) ? 2 : 4" rowHeight="1:2">
    <mat-grid-tile *ngFor="let category of (categories$ | async)">

        <img class="image" [src]="category.image.link" [alt]="category.image.alt">
        <div class="shader" [routerLink]="['category', category.name]">
          <h1>{{category.name}}</h1>
          <p>{{category.description}}</p>
          <button  [routerLink]="['category', category.name]" mat-button>
            SHOW MORE</button>
        </div>

    </mat-grid-tile>
  </mat-grid-list>
</div>
